body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Login {
  height: 400px;
}
.todo-row {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  background-color: lightblue;
  margin: 5px;
}

.todo-input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px 0px 0 10px;
  border: 2px solid black;
}

.todo-button {
padding: 9px;
border-radius: 0px 10px 10px 0px;
}
.todo-button:hover{
  border:  2px solid blue;
  background-color: lightblue;
}

input:hover {
  background-color: lightblue;
  border:  2px solid blue;
}